.content {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  &.navbar-included {
    width: calc(100vw - 100px);
    margin-left: 100px;
  }

  album-card {
    align-self: center;
    margin: 64px 0 64px 0;
  }

  .card {
    align-self: center;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 50%;
  }

  embedded-video {
    margin: 32px 0 32px 0;
    align-self: center;
  }
}

@media(max-width: 960px) {
  .content {
    &.navbar-included {
      width: 100%;
      margin-left: 0;
    }

    album-card {
      width: 100%;
      margin: 48px 0 16px 0;
    }
  }
}
