.content {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  &.navbar-included {
    width: calc(100vw - 100px);
    margin-left: 100px;
  }

  album-card {
    align-self: center;
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .card {
    align-self: center;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 50%;
  }

  embedded-video {
    margin: 32px 0 32px 0;
    align-self: center;
  }
}
