.song-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  background-color: #f89406;
  height: 100px;
  border: 8px solid #d35400;
  align-items: center;

  img.artwork {
    width: 64px;
    height: 64px;
    margin: 20px;
    border-radius: 50%;
  }

  .spacer {
    flex: 1 1 auto;
  }

  audio {
    margin-right: 20px;
  }
}
