@use "sass:math";

$box-width: 750px;
$box-height: 500px;

.card {
  box-shadow: inset 0 100px 10px -10px rgba(0, 0, 0, .2), inset 0 -100px 10px -10px rgba(0, 0, 0, .2);
  width: $box-width;
  height: $box-height;
  background-color: #7540ad;
  background-image: url("/assets/images/bioluminescent_mid.jpg");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  color: #f0ebf5;
  border-radius: 16px;
  overflow: hidden;

  &:hover {
    .content-container {
      .title, .artist-name {
        text-shadow: 2px 2px 15px rgba(255,255,255,1);
      }
    }
  }

  .content-container {
    float: left;
    display: flex;
    flex-direction: column;
    width: $box-width;
    height: $box-height;
    margin-bottom: -$box-width;
    border-radius: inherit;

    .title, .artist-name {
      width: 100%;
      text-align: center;
      border-radius: inherit;
      text-shadow: 2px 2px 5px rgba(255,255,255,0.2);
      transition: text-shadow 1s ease-in-out;
    }

    .title {
      text-transform: uppercase;
      letter-spacing: 0.75em;
      font: 900 2em Garamond;
      align-self: center;
      flex: 0 1 auto;
      padding-top: 16px;
      padding-left: 0.75em;
    }

    .spacer {
      flex: 1 1 auto;
    }

    .artist-name {
      text-transform: uppercase;
      letter-spacing: 0.5em;
      font: 900 2em Garamond;
      align-self: center;
      flex: 0 1 auto;
      padding-bottom: 32px;
      padding-left: 0.5em;
    }
  }
}

// Styles for Tablets, etc.
@media(max-width: 960px) {
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: inset 0 100px 10px -10px rgba(0, 0, 0, .5);

    // Force square aspect ratio
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    .backdrop {
      float: none;
      background-size: cover;
    }

    .content-container {
      display: inline-flex;
      width: 100%;
      height: 100%;
      margin-bottom: 0;

      .title {
        width: 100%;
        padding: 8px 0 0 0;
        letter-spacing: 2vw;
        font: 400 3vw Garamond;
      }

      .artist-name {
        width: 100%;
        padding: 0;
        letter-spacing: 1.5vw;
        font: 400 2vw Garamond;
      }
    }
  }
}

// Styles for small devices
@media(max-width: 450px) {
  .card {
    .content-container {
      .title {
        font: 900 5vw Garamond;
        letter-spacing: 1vw;
      }

      .artist-name {
        font: 400 4vw Garamond;
        letter-spacing: 0.75vw;
      }
    }
  }

}

// Styles for large desktops
$large-box-width: 1200px;
$large-box-height: 750px;
@media(min-width: 1920px) {
  .card {
    width: $large-box-width;
    height: $large-box-height;
    box-shadow: inset 0 100px 10px -10px rgba(0, 0, 0, .5), inset 0 -100px 10px -10px rgba(0, 0, 0, .5);

    .content-container {
      width: $large-box-width;
      height: $large-box-height;
      margin-bottom: -$large-box-width;

      .title {
        font: 900 3em Garamond;
      }

      .artist-name {
        font: 900 2em Garamond;
      }
    }
  }
}
