.nav-bar {
  width: 100px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 32px 0 32px;

  .nav-link-container {
    flex: 1 1 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .nav-link {
      flex: 0 1 auto;
      font-size: 48px;
      color: #fff;
      text-shadow: none;
      transition: text-shadow ease-in-out 0.5s;
      cursor: pointer;
      padding: 16px 0 16px 0;

      &:hover {
        text-shadow: 0 0 5px #fff;
      }

      &:active {
        color: #ffc;
      }
    }
  }
}

@media(max-width: 960px) {
  .nav-bar {
    width: 100%;
    height: 48px;
    flex-direction: row;
    padding: 0;

    .nav-link-container {
      flex-direction: column;

      .nav-link {
        font-size: 24px;
        padding: 0;
      }
    }
  }
}
